
.tarjeta{
    height: 600px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 black;
}
.tarjeta div{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.header{
    height: 150px;
    width: 100%;
    background-color: #2EC7C7;
    border-radius: 10px 10px 0 0;
}

.foto{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px #fff solid;;
    background-image: url(Img/img2.JPG);
    background-size: cover;
    background-position: center;
    position: absolute;
    box-shadow: 0 0 10px 0 black;

    top: 80px;
    left: 50px;
}

.profile{
    background-color: #fff;
    display: flex;
}

h1{
    margin: 150px 0 10px 50px;
    color: #080505;
}

h5,p, button{
    margin: 10px 50px;
}

h5, p{
    color: #808080;
}

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 black;
}