.row {
/* Acá va 1 propiedad */
height: 50px;
width: 900px;
display: flex;
}

.col {
/* Acá van 4 propiedades */
height: 30px;
width: 200px;
background-color: aqua;
margin: 10px;
flex: 1;
align-content: center;
font-style:italic;
font-size:xx-small;
padding-left: 10px;
}

.col-2 {
/* Acá va 1 propiedad */
flex: 2;
}

.col-3 {
/* Acá va 1 propiedad */
flex: 3;
}