*{
    margin: 0;
    padding: 0;
}


.fila{
    line-height: 0;
}

.col{
    background-color: purple; 
    height: 40px;
    width: 40px;
    display: inline-block;
}

.burguer {
    background-color: black; 
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('burguer.png');
    background-size: contain;
    }

.blank {
    background-color: black; 
    height: 40px;
    width: 40px;
    display: inline-block;
}

#gato {
    background-color: black; 
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url("gato.gif");
    background-size: contain;
    position: absolute;
    left: 44px;
    top: 40px;
}